<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.zw.controller"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/apges/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:default-servlet-handler />
    <mvc:annotation-driven />

<!--    创建拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
<!--            声明被拦截的url-->
            <mvc:mapping path="/settings/**"/>
            <mvc:mapping path="/workbench/**"/>
<!--            声明不拦截的url-->
            <mvc:exclude-mapping path="/settings/qx/user/tologin"/>
            <mvc:exclude-mapping path="/settings/qx/user/login.do"/>
<!--            指定拦截器-->
            <bean class="com.zw.controller.lanjie.UrlLanjie" />
        </mvc:interceptor>
    </mvc:interceptors>

</beans>